In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [2]:
data = pd.read_csv('MasterDatasetTemp_Preprocessed_Anonymized_small.csv')

In [3]:
data.head()

,USN,10thPercentage,10thMarks,12thPercentage,Branch,CGPA,CourseName,CourseGrade,CompanyName_New,CTC,...,Publication,ResearchDomain,ScholarshipsKey,SoftwareTools,VolunteeringWork,WorkshopsOrg,WorkshopsDomain,AwardsNLPkey,ExternalCertificatesKey,ExternalCertificatesDomain
0,ghiehlhfvghp,96.0,96.000000,90.0,cse,9.68,"['introduction to computing using python ', 'i...","['s', 's', 's', 'a', 's', 's', 's', 's', 's', ...",walmart labs,18.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cryptography##
1,ghiehmhfvggi,9.7,92.150000,97.6,cse,8.83,"['introduction to computing using python', 'in...","['c', 'a', 'b', 'a', 's', 'a', 'b', 'a', 'a', ...",themathcompany,4.50,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
2,ghiehmhfvggi,9.7,92.150000,97.6,cse,8.83,"['introduction to computing using python', 'in...","['c', 'a', 'b', 'a', 's', 'a', 'b', 'a', 'a', ...",nxp semiconductors,12.15,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
3,ghiehmhfvggm,95.0,95.000000,96.0,cse,9.27,"['introduction to computing using python', 'in...","['b', 's', 'a', 'a', 's', 's', 'a', 'a', 'a', ...",intuit,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ghiehmhfvghi,NaN,93.386967,94.0,cse,8.95,"['introduction to computing using python', 'in...","['b', 's', 'a', 'a', 'a', 's', 'a', 'b', 'a', ...",citrix,23.42,...,NaN,NaN,mrd##,flask##spring##mysql##mongodb,NaN,NaN,NaN,alcoding##iisc##,NaN,NaN

In [4]:
records = []
for i in range(0, 193):
    records.append([str(data.values[i,j]) for j in [8,18,21]])

In [ ]:
association_rules = apriori(records, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)

In [ ]:
print(len(association_rules))