In [2]:
import pandas as pd
import numpy as np

In [182]:
data1= pd.read_csv(r"C:\Users\diyas\Documents\Recommendation_system\UpdatedMaster19Feb_NLP.csv") 
data2= pd.read_csv(r"C:\Users\diyas\Documents\Recommendation_system\Combined.csv")

In [183]:
data1.head()

,Unnamed: 0,USN,10thPercentage,12thPercentage,Branch,CGPA,CourseName,CourseGrade,CompanyName_New,CTC,...,Publication,ResearchDomain,ScholarshipsKey,SoftwareTools,VolunteeringWork,WorkshopsOrg,WorkshopsDomain,AwardsNLPkey,ExternalCertificatesKey,ExternalCertificatesDomain
0,0,01FB15ECS019,96.0,90.0,CSE,9.68,"['Introduction to Computing Using Python ', 'I...","['S', 'S', 'S', 'A', 'S', 'S', 'S', 'S', 'S', ...",Walmart Labs,18.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cryptography##
1,1,01FB16ECS002,9.7,97.6,CSE,8.83,"['Introduction to Computing using Python', 'In...","['C', 'A', 'B', 'A', 'S', 'A', 'B', 'A', 'A', ...",TheMathCompany,4.50,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
2,2,01FB16ECS002,9.7,97.6,CSE,8.83,"['Introduction to Computing using Python', 'In...","['C', 'A', 'B', 'A', 'S', 'A', 'B', 'A', 'A', ...",NXP Semiconductors,12.15,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
3,3,01FB16ECS006,95.0,96.0,CSE,9.27,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'A', 'S', 'S', 'A', 'A', 'A', ...",Intuit,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,01FB16ECS012,NaN,94.0,CSE,8.95,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'A', 'A', 'S', 'A', 'B', 'A', ...",Citrix,23.42,...,NaN,NaN,mrd##,Flask##Spring##MySQL##MongoDB,NaN,NaN,NaN,alcoding##iisc##,NaN,NaN

In [184]:
print(len(data1))
print(len(data2))

441
460

In [185]:
data2.columns
data2=data2.rename(columns={'SRN': 'USN'})

In [186]:
combined_master=pd.merge(data1,data2, on='USN')

In [187]:
combined_master.columns

Index(['Unnamed: 0', 'USN', '10thPercentage', '12thPercentage', 'Branch_x',
       'CGPA_x', 'CourseName', 'CourseGrade', 'CompanyName_New', 'CTC',
       'TierLevel', 'CoCurricularActivities', 'EmploymentType',
       'EventsParticipated', 'GeneralSkills', 'Languages', 'MinorAttended',
       'NoofInternships', 'InternshipProjectDomain', 'InternshipCompany',
       'NoofProjects', 'ProjectDetailDomain', 'ProgLanguages', 'Publication',
       'ResearchDomain', 'ScholarshipsKey', 'SoftwareTools',
       'VolunteeringWork', 'WorkshopsOrg', 'WorkshopsDomain', 'AwardsNLPkey',
       'ExternalCertificatesKey', 'ExternalCertificatesDomain', 'Name',
       'Branch_y', '10th percentage', '12th percentage', 'CGPA_y',
       'Number of projects', 'Projects details', 'Github link',
       'LinkedIn link', 'General skills', 'Publications',
       'Number of Internships', 'Internship details', 'External certificates',
       'Programming Language Skills', 'Software Tool Skills', 'Minor name',
       'Scholarships', 'Awards', 'Events and Competitions participated',
       'Workshops', 'Volunteering', 'Languages known',
       'Co-curricular activities', 'Other Details'],
      dtype='object')

In [188]:
combined_master

,Unnamed: 0,USN,10thPercentage,12thPercentage,Branch_x,CGPA_x,CourseName,CourseGrade,CompanyName_New,CTC,...,Software Tool Skills,Minor name,Scholarships,Awards,Events and Competitions participated,Workshops,Volunteering,Languages known,Co-curricular activities,Other Details
0,3,01FB16ECS006,95.0,96.0,CSE,9.27,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'A', 'S', 'S', 'A', 'A', 'A', ...",Intuit,0.00,...,NaN,NaN,PES University (1st and 2nd year):\n•Professor...,"PES University (3rd year):\n•Founder, TechShif...",NaN,NaN,NaN,NaN,NaN,NaN
1,187,01FB16ECS006,0.95,0.96,CSE,9.27,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'A', 'S', 'S', 'A', 'A', 'A', ...",Intuit,0.00,...,NaN,NaN,PES University (1st and 2nd year):\n•Professor...,"PES University (3rd year):\n•Founder, TechShif...",NaN,NaN,NaN,NaN,NaN,NaN
2,4,01FB16ECS012,NaN,94.0,CSE,8.95,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'A', 'A', 'S', 'A', 'B', 'A', ...",Citrix,23.42,...,MySQL #### MongoDB,NaN,NaN,1st Place at Alcoding Summer Challenge (out of...,NaN,NaN,NaN,NaN,NaN,NaN
3,197,01FB16ECS012,NaN,0.94,CSE,8.95,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'A', 'A', 'S', 'A', 'B', 'A', ...",Citrix,23.42,...,MySQL #### MongoDB,NaN,NaN,1st Place at Alcoding Summer Challenge (out of...,NaN,NaN,NaN,NaN,NaN,NaN
4,6,01FB16ECS016,95.0,95.0,CSE,9.89,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'S', 'S', 'A', 'S', 'S', ...",Cisco Systems,0.00,...,NaN,NaN,Received the Prof MRD Merit Scholarship for be...,Felicitated with Distinction Award for academi...,NaN,"Attended workshop on machine learning, image p...",NaN,"Tamil, English, Hindi, Bengali",Intra and Inter\nCollegiate Events\n Particip...,NaN
5,7,01FB16ECS016,95.0,95.0,CSE,9.89,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'S', 'S', 'A', 'S', 'S', ...",Optum,11.59,...,NaN,NaN,Received the Prof MRD Merit Scholarship for be...,Felicitated with Distinction Award for academi...,NaN,"Attended workshop on machine learning, image p...",NaN,"Tamil, English, Hindi, Bengali",Intra and Inter\nCollegiate Events\n Particip...,NaN
6,198,01FB16ECS016,0.95,NaN,CSE,9.89,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'S', 'S', 'A', 'S', 'S', ...",Cisco Systems,0.00,...,NaN,NaN,Received the Prof MRD Merit Scholarship for be...,Felicitated with Distinction Award for academi...,NaN,"Attended workshop on machine learning, image p...",NaN,"Tamil, English, Hindi, Bengali",Intra and Inter\nCollegiate Events\n Particip...,NaN
7,199,01FB16ECS016,0.95,NaN,CSE,9.89,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'S', 'S', 'A', 'S', 'S', ...",Optum,11.59,...,NaN,NaN,Received the Prof MRD Merit Scholarship for be...,Felicitated with Distinction Award for academi...,NaN,"Attended workshop on machine learning, image p...",NaN,"Tamil, English, Hindi, Bengali",Intra and Inter\nCollegiate Events\n Particip...,NaN
8,8,01FB16ECS017,94.2,89.2,CSE,9.39,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'A', 'S', 'B', 'A', 'A', ...",Cisco Systems,29.00,...,NaN,NaN,• Recipient of “CNR RAO Merit Scholarship” .,• Qualified Codechef Smackdown 2017 and 2019 Q...,NaN,• Codechef (@abhishek_2017) Rating: 1658 (3 st...,NaN,NaN,NaN,NaN
9,8,01FB16ECS017,94.2,89.2,CSE,9.39,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'A', 'S', 'B', 'A', 'A', ...",Cisco Systems,29.00,...,NaN,NaN,Recipient of “CNR RAO Merit Scholarship” .\n• ...,• Qualified Codechef Smackdown 2017 and 2019 Q...,NaN,• Codechef (@abhishek_2017) Rating: 1658 (3 st...,NaN,NaN,NaN,NaN
10,8,01FB16ECS017,94.2,89.2,CSE,9.39,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'A', 'S', 'B', 'A', 'A', ...",Cisco Systems,29.00,...,NaN,NaN,Recipient of “CNR RAO Merit Scholarship” .\n• ...,• Qualified Codechef Smackdown 2017 and 2019 Q...,NaN,• Codechef (@abhishek_2017) Rating: 1658 (3 st...,NaN,NaN,NaN,NaN
11,200,01FB16ECS017,0.942,0.892,CSE,9.39,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'A', 'S', 'B', 'A', 'A', ...",Cisco Systems,29.00,...,NaN,NaN,• Recipient of “CNR RAO Merit Scholarship” .,• Qualified Codechef Smackdown 2017 and 2019 Q...,NaN,• Codechef (@abhishek_2017) Rating: 1658 (3 st...,NaN,NaN,NaN,NaN
12,200,01FB16ECS017,0.942,0.892,CSE,9.39,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'A', 'S', 'B', 'A', 'A', ...",Cisco Systems,29.00,...,NaN,NaN,Recipient of “CNR RAO Merit Scholarship” .\n• ...,• Qualified Codechef Smackdown 2017 and 2019 Q...,NaN,• Codechef (@abhishek_2017) Rating: 1658 (3 st...,NaN,NaN,NaN,NaN
13,200,01FB16ECS017,0.942,0.892,CSE,9.39,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'A', 'S', 'B', 'A', 'A', ...",Cisco Systems,29.00,...,NaN,NaN,Recipient of “CNR RAO Merit Scholarship” .\n• ...,• Qualified Codechef Smackdown 2017 and 2019 Q...,NaN,• Codechef (@abhishek_2017) Rating: 1658 (3 st...,NaN,NaN,NaN,NaN
14,10,01FB16ECS023,9.6,87.2,CSE,8.57,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'S', 'B', 'S', 'A', 'B', 'A', ...",Intuit,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kannada, ####English, ####Hindi",NaN,NaN
15,207,01FB16ECS023,10; 9.6,12; 87.2%,CSE,8.57,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'S', 'B', 'S', 'A', 'B', 'A', ...",Intuit,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kannada, ####English, ####Hindi",NaN,NaN
16,11,01FB16ECS031,95.0,89.4,CSE,7.71,"['Introduction to Computing using Python', 'In...","['D', 'B', 'D', 'B', 'C', 'B', 'C', 'C', 'B', ...",Accenture,4.50,...,NaN,NaN,NaN,Got 99.41 percentile in e-litmus Aptitude Tes...,NaN,NaN,NaN,NaN,NaN,• Playing and following various sports | Solvi...
17,213,01FB16ECS031,0.95,0.894,CSE,7.71,"['Introduction to Computing using Python', 'In...","['D', 'B', 'D', 'B', 'C', 'B', 'C', 'C', 'B', ...",Accenture,4.50,...,NaN,NaN,NaN,Got 99.41 percentile in e-litmus Aptitude Tes...,NaN,NaN,NaN,NaN,NaN,• Playing and following various sports | Solvi...
18,30,01FB16ECS076,91.6,92.0,CSE,9.10,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'A', 'A', 'S', 'B', 'A', 'A', ...",Walmart Labs,18.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,35,01FB16ECS107,10.0,94.0,CSE,9.51,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'S', 'A', 'S', 'A', 'S', 'S', ...",Goldman Sachs,22.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Member of Aeolus Club PESU.\nCore team member ...,NaN
20,36,01FB16ECS107,10.0,94.0,CSE,9.51,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'S', 'A', 'S', 'A', 'S', 'S', ...",Goldman Sachs,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Member of Aeolus Club PESU.\nCore team member ...,NaN
21,37,01FB16ECS110,82.17,81.5,CSE,7.91,"['Introduction to Computing using Python', 'In...","['B', 'S', 'B', 'A', 'C', 'A', 'C', 'A', 'A', ...",Accenture,6.50,...,"SQL,#### Data Structures, ####Computer Network...",NaN,NaN,"Certificate of Distinction Award in 1st,3rd an...",NaN,NaN,CORE member in organising annual college fest ...,NaN,NaN,"TEAMWORK, LEADERSHIP,"
22,261,01FB16ECS110,8.8 CGPA,0.864,CSE,7.91,"['Introduction to Computing using Python', 'In...","['B', 'S', 'B', 'A', 'C', 'A', 'C', 'A', 'A', ...",Accenture,6.50,...,"SQL,#### Data Structures, ####Computer Network...",NaN,NaN,"Certificate of Distinction Award in 1st,3rd an...",NaN,NaN,CORE member in organising annual college fest ...,NaN,NaN,"TEAMWORK, LEADERSHIP,"
23,38,01FB16ECS124,96.48,98.0,CSE,9.56,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'A', 'S', 'S', 'A', 'A', 'A', ...",Akamai Technologies,NaN,...,NaN,NaN,Attained 4 Prof. C.N.R Rao Merit Scholarships ...,NaN,NaN,1. Ethical Hacking Workshop conducted by ROBOT...,An active member of CSR Club (Collegiate Socia...,NaN,NaN,NaN
24,39,01FB16ECS124,96.48,98.0,CSE,9.56,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'A', 'S', 'S', 'A', 'A', 'A', ...",Akamai Technologies,16.30,...,NaN,NaN,Attained 4 Prof. C.N.R Rao Merit Scholarships ...,NaN,NaN,1. Ethical Hacking Workshop conducted by ROBOT...,An active member of CSR Club (Collegiate Socia...,NaN,NaN,NaN
25,40,01FB16ECS189,NaN,NaN,CSE,9.91,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', ...",Goldman Sachs,NaN,...,NaN,NaN,• CNR Rao Merit Scholarship PESU (Awarded to t...,"• Most Innovative Solution, Intel ADAS (Advanc...",Data Analytics Teaching Assistant | Aug-Dec 20...,Data Analytics\n• Advanced Algorithms\n• Digit...,NaN,NaN,NaN,NaN
26,41,01FB16ECS189,NaN,NaN,CSE,9.91,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', ...",Goldman Sachs,22.00,...,NaN,NaN,• CNR Rao Merit Scholarship PESU (Awarded to t...,"• Most Innovative Solution, Intel ADAS (Advanc...",Data Analytics Teaching Assistant | Aug-Dec 20...,Data Analytics\n• Advanced Algorithms\n• Digit...,NaN,NaN,NaN,NaN
27,42,01FB16ECS449,94.71,93.8,CSE,8.91,"['Introduction to Computing using Python', 'In...","['B', 'B', 'B', 'A', 'A', 'A', 'B', 'A', 'A', ...",National Instruments,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,1. 2017-2019 Hackathon organizer.\nOrganized t...,NaN,NaN,NaN
28,42,01FB16ECS449,94.71,93.8,CSE,8.91,"['Introduction to Computing using Python', 'In...","['B', 'B', 'B', 'A', 'A', 'A', 'B', 'A', 'A', ...",National Instruments,0.00,...,Tools/Frameworks: Git #### PacketTracer #### ...,NaN,NaN,NaN,NaN,NaN,2017-2019 Hackathon organizer.\nOrganized two ...,NaN,NaN,NaN
29,43,01FB16ECS483,10.0,96.5,CSE,9.57,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'S', 'S', 'A', 'S', 'S', ...",Walmart Labs,19.27,...,NaN,NaN,Recepient of C.N.R. Rao Merit Scholarship for ...,"Runner-up at ’Tricks of Trade’, a game theory ...",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,408,01FB16ECS429,CGPA: 10,0.934,CSE,9.45,"['Introduction to Computing using Python', 'In...","['A', 'A', 'S', 'S', 'A', 'S', 'S', 'S', 'S', ...",NaN,15.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Member of the core organizing committee for T...,NaN
309,409,01FB16ECS429,CGPA: 10,0.934,CSE,9.45,"['Introduction to Computing using Python', 'In...","['A', 'A', 'S', 'S', 'A', 'S', 'S', 'S', 'S', ...",Akamai Technologies,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Member of the core organizing committee for T...,NaN
310,410,01FB16ECS439,NaN,NaN,CSE,9.09,"['Introduction to Computing using Python', 'In...","['A', 'B', 'B', 'S', 'A', 'A', 'A', 'A', 'A', ...",Cure.Fit,31.00,...,MySQL\n####Operating #### Systems: Linux\n####...,NaN,NaN,● 1\nst prize in an Ideathon conducted by the ...,NaN,NaN,NaN,NaN,● Bassist for a rock band. Played in big venue...,NaN
311,411,01FB16ECS440,NaN,0.896,CSE,8.36,"['Introduction to Computing using Python', 'In...","['B', 'B', 'C', 'B', 'B', 'S', 'B', 'A', 'A', ...",NaN,0.00,...,HTML#### CSS#### Javascript#### SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,412,01FB16ECS440,NaN,0.896,CSE,8.36,"['Introduction to Computing using Python', 'In...","['B', 'B', 'C', 'B', 'B', 'S', 'B', 'A', 'A', ...",Wipro,6.50,...,HTML#### CSS#### Javascript#### SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,413,01FB16ECS441,0.903,0.943,CSE,8.31,"['Introduction to Computing using Python', 'In...","['B', 'C', 'D', 'B', 'A', 'B', 'B', 'B', 'C', ...",PWC,8.36,...,"HTML####CSS####Javascript####PHP####,MYSQL",NaN,NaN,NaN,NaN,"Computer Network Securit y - Wireshark, Kali L...",NaN,NaN,NaN,NaN
314,414,01FB16ECS444,9.8,85.4,CSE,8.18,"['Introduction to Computing using Python', 'In...","['B', 'C', 'B', 'B', 'B', 'A', 'C', 'B', 'B', ...",Adobe,12.43,...,"Cloud, Machine Learning, Big Data, Android, Un...",NaN,NaN,1. 3 live applications on play-store (two game...,NaN,NaN,NaN,NaN,NaN,NaN
315,415,01FB16ECS444,9.8,85.4,CSE,8.18,"['Introduction to Computing using Python', 'In...","['B', 'C', 'B', 'B', 'B', 'A', 'C', 'B', 'B', ...",Citrix,0.00,...,"Cloud, Machine Learning, Big Data, Android, Un...",NaN,NaN,1. 3 live applications on play-store (two game...,NaN,NaN,NaN,NaN,NaN,NaN
316,416,01FB16ECS446,0.9264,0.9675,CSE,7.74,"['Introduction to Computing using Python', 'In...","['D', 'B', 'C', 'A', 'B', 'C', 'D', 'C', 'C', ...",NaN,7.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Travelling\n● Cricket\n● Photography\n● Volley...
317,417,01FB16ECS448,NaN,NaN,CSE,7.48,"['Introduction to Computing using Python', 'In...","['D', 'C', 'E', 'B', 'B', 'C', 'C', 'C', 'D', ...",NaN,7.00,...,NaN,NaN,NaN,Awarded with multiple Distinction Certificate,NaN,NaN,NaN,NaN,NaN,NaN
318,418,01FB16ECS456,94,92.4,CSE,9.48,"['Introduction to Computing using Python', 'In...","['A', 'B', 'A', 'S', 'S', 'S', 'S', 'S', 'A', ...",Morgan Stanley,0.00,...,NaN,NaN,NaN,Awarded Prof. CNR Rao Merit Scholarship for ac...,NaN,NaN,NaN,NaN,NaN,NaN
319,419,01FB16ECS456,94,92.4,CSE,9.48,"['Introduction to Computing using Python', 'In...","['A', 'B', 'A', 'S', 'S', 'S', 'S', 'S', 'A', ...",Adobe,12.43,...,NaN,NaN,NaN,Awarded Prof. CNR Rao Merit Scholarship for ac...,NaN,NaN,NaN,NaN,NaN,NaN
320,420,01FB16ECS459,0.9536,0.975,CSE,9.06,"['Introduction to Computing using Python', 'In...","['S', 'A', 'A', 'S', 'A', 'S', 'B', 'S', 'S', ...",Amazon,0.00,...,SQLite####Postgres#### MongoDB,NaN,NaN,NaN,NaN,NaN,NaN,"English, Kannada, Hindi, Tamil & Telugu",NaN,NaN
321,421,01FB16ECS459,0.9536,0.975,CSE,9.06,"['Introduction to Computing using Python', 'In...","['S', 'A', 'A', 'S', 'A', 'S', 'B', 'S', 'S', ...",Hewlett-Packard Enterprise,10.30,...,SQLite####Postgres#### MongoDB,NaN,NaN,NaN,NaN,NaN,NaN,"English, Kannada, Hindi, Tamil & Telugu",NaN,NaN
322,422,01FB16ECS459,0.9536,0.975,CSE,9.06,"['Introduction to Computing using Python', 'In...","['S', 'A', 'A', 'S', 'A', 'S', 'B', 'S', 'S', ...",Hewlett-Packard Enterprise,NaN,...,SQLite####Postgres#### MongoDB,NaN,NaN,NaN,NaN,NaN,NaN,"English, Kannada, Hindi, Tamil & Telugu",NaN,NaN
323,423,01FB16ECS461,CGPA – 8.8,0.8,CSE,7.68,"['Introduction to Computing using Python', 'In...","['C', 'B', 'C', 'B', 'B', 'D', 'D', 'C', 'C', ...",NaN,6.00,...,"MATLAB, TensorFlow, Keras\nWeb Applications: H...",NaN,NaN,"Organizer, Samarasa, cultural fest, - Managed...",NaN,MEMBERSHIPS: IEEE Student Member- Responsible ...,NaN,"English, Kannada",NaN,NaN
324,424,01FB16ECS467,NaN,NaN,CSE,7.71,"['Introduction to Computing using Python', 'In...","['D', 'A', 'C', 'C', 'C', 'C', 'D', 'C', 'B', ...",Accenture,6.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Reading books\nFootball
325,425,01FB16ECS468,CGPA- 8.0,0.79,CSE,8.13,"['Introduction to Computing using Python', 'In...","['C', 'B', 'D', 'B', 'A', 'C', 'C', 'A', 'C', ...",NaN,4.00,...,"Front-end: HTML, CSS, JavaScript####\nBack-end...",NaN,NaN,Recipient of Distinction Scholarship in 2nd an...,NaN,NaN,NaN,NaN,NaN,Technical -Machine Learning\nDatabase Manageme...
326,426,01FB16ECS472,8.8,80,CSE,7.09,"['Introduction to Computing using Python', 'In...","['D', 'B', 'D', 'B', 'B', 'D', 'C', 'D', 'C', ...",NaN,3.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,National level Basket Ball gold medalist\nPlay...,NaN
327,427,01FB16ECS473,0.95,0.86,CSE,7.52,"['Introduction to Computing using Python', 'In...","['B', 'B', 'B', 'A', 'B', 'C', 'D', 'B', 'D', ...",NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,"Ethical Hacking by IIT Guwahati, Attended a we...",NaN,NaN,DEBSOC(DEBATING SOCIETY) General Speaker | 201...,NaN
328,428,01FB16ECS473,0.95,0.86,CSE,7.52,"['Introduction to Computing using Python', 'In...","['B', 'B', 'B', 'A', 'B', 'C', 'D', 'B', 'D', ...",Accenture,4.50,...,NaN,NaN,NaN,NaN,NaN,"Ethical Hacking by IIT Guwahati, Attended a we...",NaN,NaN,DEBSOC(DEBATING SOCIETY) General Speaker | 201...,NaN
329,429,01FB16ECS481,CGPA 10,0.958,CSE,9.54,"['Introduction to Computing using Python', 'In...","['S', 'A', 'S', 'S', 'A', 'A', 'A', 'S', 'S', ...",Logmein,15.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fields of Interest\n● Cloud computing.\n● Full...
330,430,01FB16ECS482,92.6% (ICSE),91% (CBSE),CSE,9.11,"['Introduction to Computing using Python', 'In...","['B', 'S', 'S', 'A', 'A', 'S', 'B', 'A', 'A', ...",Wipro,6.50,...,NaN,NaN,NaN,Won 3rd Prize in GG Jam Game Development\nHack...,Conducted a Multi-Player SCIENCE Quiz on Praka...,NaN,Volunteered for Science Quiz in EPSILON and Th...,NaN,NaN,NaN
331,434,01FB16ECS484,10.00 GPA,0.95,CSE,9.15,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'S', 'S', 'S', 'B', 'A', 'S', ...",NaN,26.40,...,"MySql, Mongo, Rails, Postman, MathLab",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,435,01FB16ECS485,10 GPA,0.934,CSE,9.54,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'A', 'A', 'A', 'A', 'S', 'A', ...",LAM Research,14.41,...,NaN,NaN,Received Professor MRD Merit Scholarship Award...,Best All Rounder Girl Student Award in SKCH-EC...,NaN,NaN,Peer Teaching classes for the subject Web Tech...,NaN,NaN,NaN
333,436,01FB16ECS485,10 GPA,0.934,CSE,9.54,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'A', 'A', 'A', 'A', 'S', 'A', ...",NaN,6.50,...,NaN,NaN,Received Professor MRD Merit Scholarship Award...,Best All Rounder Girl Student Award in SKCH-EC...,NaN,NaN,Peer Teaching classes for the subject Web Tech...,NaN,NaN,NaN
334,437,01FB16ECS487,0.956,0.921,CSE,8.92,"['Introduction to Computing using Python', 'In...","['S', 'S', 'A', 'S', 'A', 'A', 'A', 'S', 'A', ...",NaN,0.00,...,NaN,NaN,1.Was among the top 10% students in class X bo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,438,01FB16ECS488,0.9113,0.894,CSE,9.05,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'S', 'A', 'S', 'A', 'A', 'S', ...",NaN,11.00,...,MySQL#### Postgres,NaN,NaN,Changed the branch from Ece to Cse based on Gp...,NaN,NaN,NaN,NaN,• Took part in various coding competitions lik...,NaN
336,439,01FB16ECS489,NaN,NaN,CSE,8.47,"['Introduction to Computing using Python', 'In...","['B', 'A', 'C', 'A', 'B', 'B', 'B', 'A', 'B', ...",Cisco Systems,29.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,440,01FB16ECS719,67.52,63.14,CSE,7.38,"['Digital Design and Computer Organization', '...","['D', 'D', 'F', 'E', 'E', 'B', 'B', 'B', 'F', ...",Accenture,4.00,...,MYSQL####POSTRESQL#### MONGODB(intermediate),NaN,NaN,NaN,NaN,NaN,NaN,Kannada#### English,NaN,Areas of Interest: Data Structures and Algori...

In [189]:
combined_master.TierLevel.unique()

array([nan,  1.,  2.,  3.])

In [190]:
combined_master=combined_master.drop(['CGPA_y','Branch_y','Unnamed: 0'], axis=1)
combined_master.rename(columns = {'CGPA_x':'CGPA'}, inplace = True)
combined_master.rename(columns = {'Branch_x':'Branch'}, inplace = True)
combined_master.rename(columns = {'Placement details':'Placed'}, inplace = True)
combined_master.rename(columns = {'Other Details':'OtherDetails'}, inplace = True)
combined_master.rename(columns = {'Co-curricular activities':'CoCurricularActivities'}, inplace = True)
combined_master.rename(columns = {'Languages known':'Languages'}, inplace = True)
combined_master.rename(columns = {'Volunteering':'VolunteeringWork'}, inplace = True)
combined_master.rename(columns = {'Events and Competitions participated':'Events participated'}, inplace = True)
combined_master.rename(columns = {'Minor name':'MinorAttended'}, inplace = True)
combined_master.rename(columns = {'Software Tool Skills':'SoftwareTools'}, inplace = True)
combined_master.rename(columns = {'Programming Language Skills':'ProgLanguages'}, inplace = True)
combined_master.rename(columns = {'External certificates':'ExternalCertificates'}, inplace = True)
combined_master.rename(columns = {'Events participated':'EventsParticipated'}, inplace = True)
combined_master.rename(columns = {'General skills':'GeneralSkills'}, inplace = True)
combined_master.rename(columns = {'Github link':'GitHubLink'}, inplace = True)
combined_master.rename(columns = {'LinkedIn link':'LinkedInLink'}, inplace = True)
combined_master.rename(columns = {'Number of Internships':'NoofInternships'}, inplace = True)
combined_master.rename(columns = {'Number of projects':'NoofProjects'}, inplace = True)
combined_master.rename(columns = {'Projects details':'ProjectDetail'}, inplace = True)
combined_master.rename(columns = {'10th percentage':'10thPercentage'}, inplace = True)
combined_master.rename(columns = {'12th percentage':'12thPercentage'}, inplace = True)
combined_master.rename(columns = {'Internship details':'InternshipDetail'}, inplace = True)
combined_master.rename(columns = {'Publications':'PublicationDetails'}, inplace = True)

In [191]:
combined_master.columns

Index(['USN', '10thPercentage', '12thPercentage', 'Branch', 'CGPA',
       'CourseName', 'CourseGrade', 'CompanyName_New', 'CTC', 'TierLevel',
       'CoCurricularActivities', 'EmploymentType', 'EventsParticipated',
       'GeneralSkills', 'Languages', 'MinorAttended', 'NoofInternships',
       'InternshipProjectDomain', 'InternshipCompany', 'NoofProjects',
       'ProjectDetailDomain', 'ProgLanguages', 'Publication', 'ResearchDomain',
       'ScholarshipsKey', 'SoftwareTools', 'VolunteeringWork', 'WorkshopsOrg',
       'WorkshopsDomain', 'AwardsNLPkey', 'ExternalCertificatesKey',
       'ExternalCertificatesDomain', 'Name', '10thPercentage',
       '12thPercentage', 'NoofProjects', 'ProjectDetail', 'GitHubLink',
       'LinkedInLink', 'GeneralSkills', 'PublicationDetails',
       'NoofInternships', 'InternshipDetail', 'ExternalCertificates',
       'ProgLanguages', 'SoftwareTools', 'MinorAttended', 'Scholarships',
       'Awards', 'EventsParticipated', 'Workshops', 'VolunteeringWork',
       'Languages', 'CoCurricularActivities', 'OtherDetails'],
      dtype='object')

In [192]:
combined_master.to_csv(r'MasterDataset.csv', index = False)

In [193]:
#Checking intersection of data
df= pd.read_csv(r"C:\Users\diyas\Documents\Recommendation_system\Placement+Academics1516_UpdatedTier.csv")

In [194]:
len(df)

1055

In [196]:
df['USN'].isin(data2['USN']).value_counts()

False    624
True     431
Name: USN, dtype: int64

In [197]:
data2.columns
data2=data2.rename(columns={'SRN': 'USN'})

In [198]:
data2.columns

Index(['USN', 'Name', 'Branch', '10th percentage', '12th percentage', 'CGPA',
       'Number of projects', 'Projects details', 'Github link',
       'LinkedIn link', 'General skills', 'Publications',
       'Number of Internships', 'Internship details', 'External certificates',
       'Programming Language Skills', 'Software Tool Skills', 'Minor name',
       'Scholarships', 'Awards', 'Events and Competitions participated',
       'Workshops', 'Volunteering', 'Languages known',
       'Co-curricular activities', 'Other Details'],
      dtype='object')

In [199]:
df.columns

Index(['StudentId', 'USN', 'Name', 'Mobile', 'Email', 'CGPA', 'Courses',
       'EarnedCredits', 'TotalCredits', 'Number of Offers', 'CompanyName',
       'TierLevel', 'EmploymentType', 'CTC', 'Stipend(K)'],
      dtype='object')

In [200]:
df=df.drop(['StudentId','Mobile','Email'], axis = 1)

In [201]:
data2=data2.drop(['Name','CGPA'], axis = 1)

In [202]:
resume_placement=pd.merge(data2,df, on='USN')

In [203]:
len(resume_placement)

501

In [204]:
resume_placement.columns

Index(['USN', 'Branch', '10th percentage', '12th percentage',
       'Number of projects', 'Projects details', 'Github link',
       'LinkedIn link', 'General skills', 'Publications',
       'Number of Internships', 'Internship details', 'External certificates',
       'Programming Language Skills', 'Software Tool Skills', 'Minor name',
       'Scholarships', 'Awards', 'Events and Competitions participated',
       'Workshops', 'Volunteering', 'Languages known',
       'Co-curricular activities', 'Other Details', 'Name', 'CGPA', 'Courses',
       'EarnedCredits', 'TotalCredits', 'Number of Offers', 'CompanyName',
       'TierLevel', 'EmploymentType', 'CTC', 'Stipend(K)'],
      dtype='object')

In [205]:
#resume_placement[resume_placement['CTC','TierLevel','CompanyName']].isnull().values.sum()
resume_placement[['CTC','TierLevel','CompanyName']].isnull().apply(lambda x: all(x), axis=1).value_counts()
#88 missing placement

False    413
True      88
dtype: int64

In [206]:
resume_placement[['Projects details','CTC','TierLevel','CompanyName']].isnull().apply(lambda x: all(x), axis=1).value_counts()
#6 missing project details

False    501
dtype: int64

In [207]:
#drop 88 
resume_placement_na=resume_placement.dropna(subset=['CTC','TierLevel','CompanyName'],how='all')

In [208]:
len(resume_placement_na)

413

In [209]:
resume_placement_na[['CompanyName']].isnull().apply(lambda x: all(x), axis=1).value_counts()
#no company name missing

False    413
dtype: int64

In [210]:
resume_placement_na[['TierLevel']].isnull().apply(lambda x: all(x), axis=1).value_counts()
#70 missing tier level

False    343
True      70
dtype: int64

In [211]:
resume_placement_na[['CTC']].isnull().apply(lambda x: all(x), axis=1).value_counts()
#66 missing tier level

False    347
True      66
dtype: int64

In [212]:
a=resume_placement_na[['TierLevel','CTC']].isnull()


#resume_placement_na[['TierLevel','CTC']].isnull().apply(lambda x: all(x), axis=1).value_counts()
#6 MISSING ctc and Tier

#resume_placement_na[surveys_df.year != 2002]
#creating subset of missing tier and ctc
#second_df= resume_placement_na[resume_placement_na['TierLevel','CTC'].isnull().apply(lambda x: all(x), axis=1)]

In [213]:
len(mask)

413

In [214]:
resume_placement_na[['TierLevel','CTC','CompanyName']].isnull().apply(lambda x: all(x), axis=1).value_counts()

False    413
dtype: int64

In [215]:
def PreprocessCTC(data):
    #convert CTC to standard format
    df=data
    for idx, row in df.iterrows():
        if row.CTC > 100:
            data.set_value(idx, 'CTC', row.CTC/100000)
    return(data)

def TierProcess(data):
    df_ctc=PreprocessCTC(data)
    df_ctc['CTC'] = pd.to_numeric(df_ctc['CTC'],errors='coerce')
    #map CTC to Tier level based on 2021 Tier mapping
    for idx, row in data.iterrows():
        #if np.isnan(row.TierLevel):
            #print(row.CTC) #mostly all 0 are printed here
        if row.CTC > 0 and row.CTC <= 5:
            df_ctc.set_value(idx, 'TierLevel', 3)
        if row.CTC > 5 and row.CTC <= 10:
            df_ctc.set_value(idx, 'TierLevel', 2)
        if row.CTC > 10:
            df_ctc.set_value(idx, 'TierLevel', 1)
    return(df_ctc)
    
df_final=TierProcess(resume_placement_na)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [216]:
df_final[['TierLevel']].isnull().apply(lambda x: all(x), axis=1).value_counts()

False    343
True      70
dtype: int64

In [217]:
temp=df_final.loc[df_final['TierLevel'].isnull()]

In [218]:
k1 = temp[['TierLevel','CTC','CompanyName']]

In [219]:

# DOUBTS: SIXT, IBM(both tier 1 and 2)

#CANNOT MAP:
#GE Heathcare, Usher(only internship)

#CAN MAP 
#Tier 1 intuit(25.16), HP(10.3), LogMeIn, Cure.fit, Akamai, Morgan Stanley, McAfee(10),Cisco Systems, Amazon,Lam Research,
#National Instruments,Walmart Labs, Samsung R&D

#Tier 2
#Tier 3 Cognizant,

In [220]:
#Mapping column values 
company_tier=df_final.groupby('CompanyName')['TierLevel'].apply(lambda x: set(x.values.tolist())).to_dict()

In [221]:
res = {k:[elem for elem in v if elem is not np.nan] for k,v in company_tier.items()}

In [222]:
res

{' KPMG': [3],
 'ABB Global Industries And Services Pvt Ltd': [2],
 'APMSE Software Services Pvt. Ltd. (EagleView)': [2],
 'ATOS ': [3],
 'Accenture': [2, 3],
 'Accenture ': [3],
 'Accolite Software India Pvt. Ltd.': [2],
 'Adobe Systems India Pvt Ltd.': [1],
 'Akamai Technologies': [1],
 'Akamai Technologies ': ['1'],
 'Amazon': [],
 'Aruba Networks': [1],
 'Atlassian LLP': [1],
 'Attra Infotech Pvt Ltd ': [3],
 'CISCO ': ['1'],
 'CenturyLink Technologies India Pvt. Ltd': [3],
 'Cisco Systems': [1],
 'Citrix R&D India Pvt Ltd ': [1],
 'Cognizant Technology Solutions ': [3],
 'CommScope Networks India Pvt Ltd': [2],
 'Commvault': [1],
 'Couch Base': [1],
 'Cure.fit': [1],
 'DXC Technology': [3],
 'Deloitte USI': [2],
 'Endurance International Group': [1],
 'Epsilon': [2],
 'Ernst & Young LLP': [3],
 'Exotel Techcom Pvt Ltd': [1],
 'Expedia Group': [1],
 'FIRSTSOURCE SOLUTIONS LIMITED': [1],
 'GE Healthcare': [],
 'Gartner': [1],
 'General Electric': [1],
 'Goldman Sachs': [1, '1'],
 'Google': [1],
 'HPE ': ['1'],
 'Hashedin Technologies': [2],
 'Hewlett Packard Enterprise': [1],
 'IBM INDIA PVT LTD': [1, 2],
 'INFIBEAM AVENUES LIMITED': [1],
 'Infosys': [2],
 'Intuit': ['1'],
 'Intuit India Product Development Center': [1],
 'Itron Pvt. Ltd. ': ['1'],
 'Komprise India Private Limited': [1],
 'L&T TECHNOLOGY SERVICES LIMITED': [3],
 'Lam Research': [1, '1'],
 'LogMeIn': [1],
 'MIQ Digital': [1],
 'McAfee': [2],
 'Mercedes Benz Research and Development India Pvt Ltd ': [2],
 'Microchip Technology (India) Pvt. Ltd': [2],
 'Microsoft': [1],
 'Morgan Stanley': [1, '1'],
 'Musigma': [3],
 'MyGate': [2],
 'National Instruments': [1],
 'Netskope': [1],
 'Novarties Healthcare PVt. Ltd.': [2],
 'Optum': [1],
 'Oracle': [2],
 'Oracle India Pvt Ltd': [2],
 'Palo Alto Networks': [1],
 'Perfios': [2],
 'Perpule': [1],
 'PharmEasy': [2],
 'Pluribus  Networks': [1],
 'PwC India': [2],
 'Raramuri Technology Private Limited (website: zopsmart.com)': [2],
 'Robert Bosch': [2],
 'SIXT Research & Development India Pvt. Ltd. ': [],
 'Saltside Technologies India Pvt. Ltd.': [2],
 'Samsumg': [1],
 'Samsung R&D': ['1'],
 'Sapient': [2],
 'Schneider Electric': [2],
 'Sling Media': [1],
 'Societe Generale': [1],
 'Standard Chartered GBS India': [2],
 'Target Corporation': [1],
 'TheMathCompany': [3],
 'ThoughtSpot India Private Limited': [1],
 'Ushur Inc ': [],
 'VMware': [1],
 'Verizon Media (Yahoo)': [2],
 'Walmart Labs': [1, '1'],
 'Wipro Turbo': ['1', 2],
 'Wissen Technology': [1],
 'Zscaler': [1]}

In [223]:
temp_df=df_final
temp_df["TierLevel"] = temp_df["CompanyName"].apply(lambda x: company_tier.get(x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [224]:
temp_df

,USN,Branch,10th percentage,12th percentage,Number of projects,Projects details,Github link,LinkedIn link,General skills,Publications,...,CGPA,Courses,EarnedCredits,TotalCredits,Number of Offers,CompanyName,TierLevel,EmploymentType,CTC,Stipend(K)
0,01FB16ECS003,Computer Science and Engineering,0.77,0.85,7.0,{Project_1:[Project_1_Domain@@Project_1_Cloud ...,https://github.com/anishmrao,https://www.linkedin.com/in/anish-m-rao-455272...,NaN,"{""Offline Handwritten Telugu Character Dataset...",...,6.73,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Attra Infotech Pvt Ltd,{3},Full time employment only,4.50,NaN
1,01FB16ECS004,Computer Science and Engineering,0.91,0.9733,6.0,{Project_1:[Project_1_Domain@@Project_1_● REST...,https://github.com/anishmrao,https://www.linkedin.com/in/anish-m-rao-455272...,NaN,"{""Offline Handwritten Telugu Character Dataset...",...,8.89,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Perpule,{1},Full time employment + Internship (Mandatory),14.00,NaN
2,01FB16ECS007,Computer Science and Engineering,91.36,93.5,9.0,{Project_1:[Project_1_Domain@@Project_1_Ripe f...,https://github.com/anishmrao,https://www.linkedin.com/in/anish-m-rao-455272...,NaN,NaN,...,7.73,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",178.0,178.0,2.0,Accolite Software India Pvt. Ltd.,{2},Full time employment + Internship (Mandatory),8.00,NaN
3,01FB16ECS007,Computer Science and Engineering,91.36,93.5,9.0,{Project_1:[Project_1_Domain@@Project_1_Ripe f...,https://github.com/anishmrao,https://www.linkedin.com/in/anish-m-rao-455272...,NaN,NaN,...,7.73,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",178.0,178.0,2.0,Accenture,"{2, 3}",Full time employment only,6.50,NaN
4,01FB16ECS008,Computer Science and Engineering,: 96.66%,95.80%,5.0,{Project_1:[Project_1_Domain@@Project_1_Title:...,https://github.com/anishmrao,https://www.linkedin.com/in/anish-m-rao-455272...,NaN,NaN,...,9.81,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Gartner,{1},Full time employment + Internship (Mandatory),10.67,NaN
5,01FB16ECS008,Computer Science and Engineering,: 96.66%,95.80%,5.0,{Project_1:[Project_1_Domain@@Project_1_Title:...,https://github.com/anishmrao,https://www.linkedin.com/in/anish-m-rao-455272...,NaN,NaN,...,9.81,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Hewlett Packard Enterprise,"{nan, 1}",Internship only,0.00,NaN
6,01FB16ECS009,Computer Science Engineering,NaN,NaN,4.0,{Project_1:[Project_1_Domain@@Project_1_Selfie...,https://github.com/anishmrao,https://www.linkedin.com/in/anish-m-rao-455272...,NaN,NaN,...,8.13,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Societe Generale,{1},Full time employment only,12.25,NaN
7,01FB16ECS010,Computer Science,95%,95%,9.0,{Project_1:[Project_1_Domain@@Project_1_Comple...,https://github.com/anishmrao,https://www.linkedin.com/in/anish-m-rao-455272...,NaN,NaN,...,7.90,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Raramuri Technology Private Limited (website: ...,{2},Full time employment only,8.00,NaN
8,01FB16ECS022,CSE,9.0 CGPA,96.83%,3.0,{Project_1:[Project_1_Domain@@Project_1_Archit...,https://github.com/anishmrao,NaN,NaN,NaN,...,8.73,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Accenture,"{2, 3}",Full time employment only,6.50,NaN
9,01FB16ECS022,CSE,9.0 CGPA,96.83%,3.0,{Project_1:[Project_1_Domain@@Project_1_Archit...,https://github.com/anishmrao,NaN,NaN,NaN,...,8.73,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Aruba Networks,{1},Full time employment + Internship (Mandatory),11.00,NaN
10,01FB16ECS023,CSE,10; 9.6,12; 87.2%,1.0,{Project_1:[Project_1_Domain@@Project_1_● Sche...,https://github.com/Adm28,NaN,Bet to Code - Secured Third Position in the co...,NaN,...,8.57,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",178.0,178.0,1.0,Intuit India Product Development Center,"{nan, 1}",Internship only,0.00,NaN
12,01FB16ECS030,CSE,GPA: 9.00/10,87.00%,NaN,{},NaN,NaN,NaN,Recognition of similar scripted language chara...,...,8.47,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,INFIBEAM AVENUES LIMITED,{1},Full time employment + Internship (Mandatory),11.00,NaN
13,01FB16ECS034,CSE,10.0 CGPA,86.80%,4.0,{Project_1:[Project_1_Domain@@Project_1_BIG DA...,NaN,NaN,"Confident, ####Decision Making,#### Adaptable,...",NaN,...,8.66,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Musigma,{3},Full time employment only,3.30,NaN
14,01FB16ECS034,CSE,10.0 CGPA,86.80%,4.0,{Project_1:[Project_1_Domain@@Project_1_BIG DA...,NaN,NaN,"Confident, ####Decision Making,#### Adaptable,...",NaN,...,8.66,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Oracle India Pvt Ltd,{2},Full time employment only,9.00,NaN
15,01FB16ECS042,CSE,95.56%,91%,5.0,{Project_1:[Project_1_Domain@@Project_1_1) ML ...,NaN,NaN,NaN,NaN,...,8.26,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Wipro Turbo,"{1, 2}",Full time employment only,6.50,NaN
16,01FB16ECS048,CSE,92.64%,96.67%,4.0,{Project_1:[Project_1_Domain@@Project_1_Cloud ...,NaN,NaN,NaN,NaN,...,7.85,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,L&T TECHNOLOGY SERVICES LIMITED,{3},Full time employment only,4.00,NaN
17,01FB16ECS054,CSE,Grade 10; 10.0,Grade 12; 85.2%,3.0,{Project_1:[Project_1_Domain@@Project_1_● Musi...,NaN,NaN,NaN,NaN,...,8.42,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Samsumg,{1},Full time employment only,16.00,NaN
18,01FB16ECS054,CSE,Grade 10; 10.0,Grade 12; 85.2%,3.0,{Project_1:[Project_1_Domain@@Project_1_● Musi...,NaN,NaN,NaN,NaN,...,8.42,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Samsung R&D,"{nan, 1}",Summer Internship,NaN,50.0
19,01FB16ECS055,CSE,9.2 / 10.0,93.50%,1.0,{Project_1:[Project_1_Domain@@Project_1_ Data...,NaN,NaN,NaN,NaN,...,7.09,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Accenture,"{2, 3}",Full time employment only,4.50,NaN
20,01FB16ECS064,CSE,CGPA 9.6,86%,5.0,{Project_1:[Project_1_Domain@@Project_1_SOLAR ...,NaN,NaN,NaN,NaN,...,8.34,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,SIXT Research & Development India Pvt. Ltd.,{nan},Internship only,0.00,NaN
21,01FB16ECS066,CSE,93.92%,91.33%,5.0,{Project_1:[Project_1_Domain@@Project_1_E-Comm...,NaN,NaN,NaN,NaN,...,8.27,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Accenture,"{2, 3}",Full time employment only,4.50,NaN
22,01FB16ECS066,CSE,93.92%,91.33%,5.0,{Project_1:[Project_1_Domain@@Project_1_E-Comm...,NaN,NaN,NaN,NaN,...,8.27,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Microchip Technology (India) Pvt. Ltd,{2},Full time employment only,6.00,NaN
24,01FB16ECS070,CSE,CGPA – 10.0,90%,7.0,{Project_1:[Project_1_Domain@@Project_1_• Clou...,NaN,NaN,NaN,NaN,...,8.31,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Optum,{1},Full time employment only,11.59,NaN
25,01FB16ECS075,CSE,92.00%,82.00%,2.0,{Project_1:[Project_1_Domain@@Project_1_Packet...,NaN,NaN,NaN,NaN,...,8.98,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Wissen Technology,{1},Full time employment + Internship (Mandatory),11.00,NaN
26,01FB16ECS075,CSE,92.00%,82.00%,2.0,{Project_1:[Project_1_Domain@@Project_1_Packet...,NaN,NaN,NaN,NaN,...,8.98,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Accenture,"{2, 3}",Full time employment only,6.50,NaN
27,01FB16ECS077,CSE,92.40%,89.00%,4.0,{Project_1:[Project_1_Domain@@Project_1_IPL Ma...,NaN,NaN,NaN,NaN,...,8.10,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",178.0,178.0,1.0,Lam Research,"{nan, 1, 1}",Full time employment + Internship (Mandatory),11.00,NaN
28,01FB16ECS092,Computer Science Engineer,93.28),94.5,5.0,{Project_1:[Project_1_Domain@@Project_1_Jan 20...,-,-,-,-,...,7.02,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",172.0,176.0,1.0,Infosys,{2},Full time employment only,8.00,NaN
30,01FB16ECS101,CSE,95.88%,95.33%,7.0,{Project_1:[Project_1_Domain@@Project_1_Connec...,NaN,NaN,NaN,NaN,...,8.59,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Accenture,"{2, 3}",Full time employment only,4.50,NaN
31,01FB16ECS103,CSE,10/10 CGPA,88.80%,6.0,{Project_1:[Project_1_Domain@@Project_1_Selfie...,NaN,- https://www.linkedin.com/in/anudeep-d-v-3231...,NaN,"DV Anudeep, Vijay Bhargav Eshappa, Bhagya M. P...",...,9.25,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Cisco Systems,"{nan, 1}",Full time employment + Internship (Mandatory),29.00,NaN
32,01FB16ECS103,CSE,10/10 CGPA,88.80%,6.0,{Project_1:[Project_1_Domain@@Project_1_Selfie...,NaN,- https://www.linkedin.com/in/anudeep-d-v-3231...,NaN,"DV Anudeep, Vijay Bhargav Eshappa, Bhagya M. P...",...,9.25,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Lam Research,"{nan, 1, 1}",Summer Internship,NaN,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,01FB16ECS302,CSE,94.83%,94.67%,8.0,{Project_1:[Project_1_Domain@@Project_1_● Plag...,NaN,NaN,NaN,NaN,...,8.84,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,3.0,LogMeIn,"{nan, 1}",Internship only,0.00,NaN
466,01FB16ECS302,CSE,94.83%,94.67%,8.0,{Project_1:[Project_1_Domain@@Project_1_● Plag...,NaN,NaN,NaN,NaN,...,8.84,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,3.0,Accenture,"{2, 3}",Full time employment only,6.50,NaN
467,01FB16ECS302,CSE,94.83%,94.67%,8.0,{Project_1:[Project_1_Domain@@Project_1_● Plag...,NaN,NaN,NaN,NaN,...,8.84,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,3.0,Target Corporation,{1},Full time employment only,11.20,NaN
468,01FB16ECS305,CSE,CGPA - 10,87%,4.0,{Project_1:[Project_1_Domain@@Project_1_Cloud ...,criodo.github.io/csod-2019-RohanBS,linkedin.com/in/rohan-b-sahu-398176136,NaN,NaN,...,8.46,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Accenture,"{2, 3}",Full time employment only,4.50,NaN
469,01FB16ECS311,CSE,94.60%,89.20%,4.0,{Project_1:[Project_1_Domain@@Project_1_Selfie...,NaN,linkedin.com/in/rohan-sharma-a3a73212b,NaN,NaN,...,7.17,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,IBM INDIA PVT LTD,"{nan, 1, 2}",Full time employment only,7.25,NaN
470,01FB16ECS307,CSE,CGPA : 10,94.5,9.0,{Project_1:[Project_1_Domain@@Project_1_Dᴏᴄᴋᴇʀ...,NaN,NaN,NaN,NaN,...,9.69,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Itron Pvt. Ltd.,{1},Summer Internship,NaN,25.0
471,01FB16ECS307,CSE,CGPA : 10,94.5,9.0,{Project_1:[Project_1_Domain@@Project_1_Dᴏᴄᴋᴇʀ...,NaN,NaN,NaN,NaN,...,9.69,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Epsilon,{2},Full time employment only,10.00,NaN
472,01FB16ECS309,CSE,GPA: 10,95.60%,10.0,{Project_1:[Project_1_Domain@@Project_1_ File...,github.com/rohantalesara,linkedin.com/rohanrtalesara,NaN,NaN,...,9.38,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Akamai Technologies,"{nan, 1}",Summer Internship,NaN,20.0
474,01FB16ECS280,CSE,94.33%,95.83%,8.0,{Project_1:[Project_1_Domain@@Project_1_1. “Yo...,NaN,NaN,NaN,NaN,...,9.09,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,General Electric,{1},Full time employment + Internship (Mandatory),10.13,NaN
475,01FB16ECS280,CSE,94.33%,95.83%,8.0,{Project_1:[Project_1_Domain@@Project_1_1. “Yo...,NaN,NaN,NaN,NaN,...,9.09,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Wipro Turbo,"{1, 2}",Summer Internship,NaN,15.0
476,01FB16ECS324,CSE,91.00%,90.00%,8.0,{Project_1:[Project_1_Domain@@Project_1_1. Mad...,NaN,NaN,NaN,NaN,...,7.03,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Musigma,{3},Full time employment only,3.30,NaN
477,01FB16ECS324,CSE,91.00%,90.00%,8.0,{Project_1:[Project_1_Domain@@Project_1_1. Mad...,NaN,NaN,NaN,NaN,...,7.03,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,FIRSTSOURCE SOLUTIONS LIMITED,{1},Full time employment + Internship (Mandatory),11.00,NaN
478,01FB16ECS323,CSE,92.00%,85.00%,5.0,{Project_1:[Project_1_Domain@@Project_1_1. Jud...,NaN,NaN,NaN,NaN,...,7.86,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Commvault,{1},Full time employment + Internship (Mandatory),15.50,NaN
479,01FB16ECS325,CSE,NaN,NaN,6.0,{Project_1:[Project_1_Domain@@Project_1_1. Dat...,NaN,NaN,NaN,NaN,...,6.68,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Musigma,{3},Full time employment only,3.30,NaN
480,01FB16ECS327,CSE,9.4,93.67%,5.0,{Project_1:[Project_1_Domain@@Project_1_1. Car...,NaN,NaN,NaN,NaN,...,7.34,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Accenture,"{2, 3}",Full time employment only,4.50,NaN
481,01FB16ECS331,CSE,10,86.40%,5.0,{Project_1:[Project_1_Domain@@Project_1_1. Com...,NaN,NaN,NaN,NaN,...,8.89,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,National Instruments,"{nan, 1}",Full time employment + Internship (Mandatory),12.93,NaN
483,01FB16ECS330,CSE,90.40%,91.40%,4.0,{Project_1:[Project_1_Domain@@Project_1_1. CUS...,saisrikark,NaN,NaN,NaN,...,9.12,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Citrix R&D India Pvt Ltd,"{nan, 1}",Internship only,0.00,NaN
484,01FB16ECS335,CSE,9.4,NaN,6.0,{Project_1:[Project_1_Domain@@Project_1_1. Pic...,NaN,NaN,NaN,NaN,...,9.22,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Sling Media,{1},Full time employment + Internship (Mandatory),15.00,NaN
485,01FB16ECS338,CSE,86.33%,88.33%,5.0,{Project_1:[Project_1_Domain@@Project_1_1. Sel...,NaN,NaN,NaN,NaN,...,7.36,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Accenture,"{2, 3}",Full time employment only,4.50,NaN
487,01FB16ECS477,CSE,9.6,89.00%,11.0,{Project_1:[Project_1_Domain@@Project_1_1. Con...,NaN,NaN,NaN,NaN,...,8.45,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Hewlett Packard Enterprise,"{nan, 1}",Full time employment + Internship (Mandatory),10.30,NaN
488,01FB16ECS477,CSE,9.6,89.00%,11.0,{Project_1:[Project_1_Domain@@Project_1_1. Con...,NaN,NaN,NaN,NaN,...,8.45,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,HPE,{1},Summer Internship,NaN,0.0
490,01FB16ECS342,CSE,NaN,NaN,10.0,{Project_1:[Project_1_Domain@@Project_1_1. Cli...,NaN,NaN,NaN,NaN,...,8.32,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,IBM INDIA PVT LTD,"{nan, 1, 2}",Internship only,0.00,NaN
493,01FB16ECS123,CSE,95.84%,92.67,6.0,{Project_1:[Project_1_Domain@@Project_1_1. KC-...,https://github.com/gourishankarn,https://www.linkedin.com/in/gourishankar-\nNar...,NaN,NaN,...,7.91,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,IBM INDIA PVT LTD,"{nan, 1, 2}",Full time employment only,7.25,NaN
494,01FB16ECS140,CSE,9,90.00%,7.0,{Project_1:[Project_1_Domain@@Project_1_1. Ima...,NaN,NaN,NaN,NaN,...,8.46,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Societe Generale,{1},Full time employment only,12.25,NaN
495,01FB16ECS155,CSE,NaN,NaN,8.0,{Project_1:[Project_1_Domain@@Project_1_1. Com...,NaN,NaN,NaN,NaN,...,6.55,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",178.0,178.0,1.0,KPMG,{3},Full time employment + Internship (Mandatory),4.00,NaN
496,01FB16ECS245,CSE,NaN,NaN,10.0,{Project_1:[Project_1_Domain@@Project_1_TechKn...,NaN,NaN,NaN,NaN,...,7.98,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Zscaler,{1},Full time employment + Internship (Mandatory),12.00,NaN
497,01FB16ECS480,CSE,82.17%,81.50%,3.0,{Project_1:[Project_1_Domain@@Project_1_1. Con...,NaN,NaN,NaN,NaN,...,7.72,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Ernst & Young LLP,{3},Full time employment + Internship (Mandatory),4.37,NaN
498,01FB16ECS107,CSE,10,94.00%,NaN,{},NaN,NaN,NaN,NaN,...,9.51,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Goldman Sachs,"{nan, 1, 1}",Full time employment only,22.00,NaN
499,01FB16ECS107,CSE,10,94.00%,NaN,{},NaN,NaN,NaN,NaN,...,9.51,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,2.0,Goldman Sachs,"{nan, 1, 1}",Summer Internship,NaN,75.0
500,01FB16ECS154,CSE,10,95.00%,8.0,{Project_1:[Project_1_Domain@@Project_1_]##Pro...,NaN,www.linkedin.com/in/sree-\nhari-3103ab139/,NaN,NaN,...,8.77,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",176.0,176.0,1.0,Epsilon,{2},Full time employment + Internship (Mandatory),10.00,NaN