In [1]:
import pandas as pd
import numpy as np

In [67]:
resume16= pd.read_excel (r'Combined.xlsm')

In [7]:
resume16.rename(columns = {'SRN':'USN'}, inplace = True)

In [8]:
resume16.columns

Index(['USN', 'Name', 'Branch', '10th percentage', '12th percentage', 'CGPA',
       'Number of projects', 'Projects details', 'Github link',
       'LinkedIn link', 'General skills', 'Publications',
       'Number of Internships', 'Internship details', 'External certificates',
       'Programming Language Skills', 'Software Tool Skills', 'Minor name',
       'Scholarships', 'Awards', 'Events and Competitions participated',
       'Workshops', 'Volunteering', 'Languages known',
       'Co-curricular activities', 'Other Details'],
      dtype='object')

In [9]:
academic_placement_16= pd.read_csv (r'Placement+Academics1516_UpdatedTier.csv')

In [10]:
usn_list = resume16.USN.unique()
print(usn_list.size)

297

In [11]:
academic_placement_16_res = academic_placement_16.loc[academic_placement_16['USN'].isin(usn_list)]

In [12]:
academic_placement_16_res.shape

(310, 15)

In [13]:
academic_placement_16.shape

(1055, 15)

In [14]:
academic_placement_16_res['Number of Offers'].value_counts()

1.0    123
2.0    116
3.0     18
Name: Number of Offers, dtype: int64

In [15]:
combined_master2016=pd.merge(academic_placement_16_res,resume16, on='USN')

In [17]:
combined_master2016.shape

(310, 40)

In [18]:
master_2017= pd.read_csv (r'MasterDataset2017.csv')

In [55]:
combined_master2016_1=combined_master2016.drop(['StudentId','Name_y','CGPA_y','Mobile','Email','EarnedCredits', 'TotalCredits'], axis=1)
combined_master2016_1.rename(columns = {'Name_x':'Name'}, inplace = True)
combined_master2016_1.rename(columns = {'CGPA_x':'CGPA'}, inplace = True)
combined_master2016_1.rename(columns = {'Placement details':'Placed'}, inplace = True)
combined_master2016_1.rename(columns = {'Other Details':'OtherDetails'}, inplace = True)
combined_master2016_1.rename(columns = {'Co-curricular activities':'CoCurricularActivities'}, inplace = True)
combined_master2016_1.rename(columns = {'Languages known':'Languages'}, inplace = True)
combined_master2016_1.rename(columns = {'Volunteering':'VolunteeringWork'}, inplace = True)
master_2017.rename(columns = {'WorkshopAndSeminorAttended':'Workshops'}, inplace = True)
combined_master2016_1.rename(columns = {'Events and Competitions participated':'Events participated'}, inplace = True)
combined_master2016_1.rename(columns = {'Minor name':'MinorAttended'}, inplace = True)
combined_master2016_1.rename(columns = {'Software Tool Skills':'SoftwareTools'}, inplace = True)
combined_master2016_1.rename(columns = {'Programming Language Skills':'ProgLanguages'}, inplace = True)
combined_master2016_1.rename(columns = {'External certificates':'ExternalCertificates'}, inplace = True)
combined_master2016_1.rename(columns = {'Events participated':'EventsParticipated'}, inplace = True)
combined_master2016_1.rename(columns = {'General skills':'GeneralSkills'}, inplace = True)
combined_master2016_1.rename(columns = {'Github link':'GitHubLink'}, inplace = True)
combined_master2016_1.rename(columns = {'LinkedIn link':'LinkedInLink'}, inplace = True)
combined_master2016_1.rename(columns = {'Number of Internships':'NoofInternships'}, inplace = True)
combined_master2016_1.rename(columns = {'Number of projects':'NoofProjects'}, inplace = True)
combined_master2016_1.rename(columns = {'Projects details':'ProjectDetail'}, inplace = True)
combined_master2016_1.rename(columns = {'10th percentage':'10thPercentage'}, inplace = True)
combined_master2016_1.rename(columns = {'12th percentage':'12thPercentage'}, inplace = True)
combined_master2016_1.rename(columns = {'Internship details':'InternshipDetail'}, inplace = True)
combined_master2016_1.rename(columns = {'Publications':'PublicationDetails'}, inplace = True)

In [56]:
combined_master2016_1

,USN,Name,CGPA,Courses,Number of Offers,CompanyName,TierLevel,EmploymentType,CTC,Stipend(K),...,SoftwareTools,MinorAttended,Scholarships,Awards,EventsParticipated,Workshops,VolunteeringWork,Languages,CoCurricularActivities,OtherDetails
0,01FB16ECS003,A V NITHIN,6.73,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Attra Infotech Pvt Ltd,2,Full time employment only,4.50,NaN,...,[Adobe Photoshop##Adobe Illustrator],NaN,[Professor CNR Rao Merit Scholarship],NaN,NaN,NaN,NaN,NaN,NaN,Captain - Served as Captain of House Phoenix (...
1,01FB16ECS004,A.S.SWAROOP,8.89,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Perpule,1,Full time employment + Internship (Mandatory),14.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,in 12th Grade. This put me in charge of overse...
2,01FB16ECS005,AAKANSHA,9.45,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Cisco Systems,NaN,Internship only,0.00,NaN,...,NaN,NaN,"Professor CNR Rao Merit Scholarship, PESU: Mar...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01FB16ECS006,AAYUSHI SANGHI,9.27,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Intuit India Product Development Center,NaN,Internship only,0.00,NaN,...,NaN,NaN,PES University (1st and 2nd year):\n•Professor...,"PES University (3rd year):\n•Founder, TechShif...",NaN,NaN,NaN,NaN,NaN,NaN
4,01FB16ECS007,ABDUL QADIR,7.73,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",2.0,Accolite Software India Pvt. Ltd.,1,Full time employment + Internship (Mandatory),8.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,in my House.##IEEE Student Member : 96238500
5,01FB16ECS007,ABDUL QADIR,7.73,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",2.0,Accenture,2,Full time employment only,6.50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,in my House.##IEEE Student Member : 96238500
6,01FB16ECS008,ABHIJITH VENUGOPAL,9.81,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",2.0,Gartner,1,Full time employment + Internship (Mandatory),10.67,NaN,...,NaN,NaN,NaN,Secured first position at school in ICSE Board...,Secured first position at school in ICSE Board...,NaN,NaN,NaN,NaN,NaN
7,01FB16ECS008,ABHIJITH VENUGOPAL,9.81,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",2.0,Hewlett Packard Enterprise,NaN,Internship only,0.00,NaN,...,NaN,NaN,NaN,Secured first position at school in ICSE Board...,Secured first position at school in ICSE Board...,NaN,NaN,NaN,NaN,NaN
8,01FB16ECS009,ABHILASH JAYSHEEL,8.13,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Societe Generale,1,Full time employment only,12.25,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,01FB16ECS010,ABHIMANYU ROY,7.90,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Raramuri Technology Private Limited (website: ...,1,Full time employment only,8.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,01FB16ECS011,ABHIN,8.89,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",3.0,Verizon Media (Yahoo),1,Full time employment only,10.00,NaN,...,NaN,NaN,Scholarships - Awarded Prof. CNR Rao Scholarsh...,● Bet to Code - Secured Third Position in the ...,NaN,NaN,NaN,NaN,NaN,"Technologies - AWS, Docker, Hadoop, MySQL, Goo..."
11,01FB16ECS011,ABHIN,8.89,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",3.0,IBM INDIA PVT LTD,NaN,Internship only,0.00,NaN,...,NaN,NaN,Scholarships - Awarded Prof. CNR Rao Scholarsh...,● Bet to Code - Secured Third Position in the ...,NaN,NaN,NaN,NaN,NaN,"Technologies - AWS, Docker, Hadoop, MySQL, Goo..."
12,01FB16ECS011,ABHIN,8.89,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",3.0,Wipro Turbo,2,Full time employment only,6.50,NaN,...,NaN,NaN,Scholarships - Awarded Prof. CNR Rao Scholarsh...,● Bet to Code - Secured Third Position in the ...,NaN,NaN,NaN,NaN,NaN,"Technologies - AWS, Docker, Hadoop, MySQL, Goo..."
13,01FB16ECS012,ABHINAV HEGDE,8.95,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Citrix R&D India Pvt Ltd,1,Full time employment + Internship (Mandatory),23.42,NaN,...,MySQL #### MongoDB,NaN,NaN,1st Place at Alcoding Summer Challenge (out of...,NaN,NaN,NaN,NaN,NaN,NaN
14,01FB16ECS013,NaN,9.25,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,An avid cyclist who has participated in numero...
15,01FB16ECS016,ABHISHEK NARAYANAN,9.89,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",2.0,Cisco Systems,NaN,Internship only,0.00,NaN,...,NaN,NaN,Received the Prof MRD Merit Scholarship for be...,Felicitated with Distinction Award for academi...,NaN,"Attended workshop on machine learning, image p...",NaN,"Tamil, English, Hindi, Bengali",Intra and Inter\nCollegiate Events\n Particip...,NaN
16,01FB16ECS016,ABHISHEK NARAYANAN,9.89,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",2.0,Optum,1,Full time employment only,11.59,NaN,...,NaN,NaN,Received the Prof MRD Merit Scholarship for be...,Felicitated with Distinction Award for academi...,NaN,"Attended workshop on machine learning, image p...",NaN,"Tamil, English, Hindi, Bengali",Intra and Inter\nCollegiate Events\n Particip...,NaN
17,01FB16ECS017,ABHISHEK PRASAD,9.39,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Cisco Systems,1,Full time employment + Internship (Mandatory),29.00,NaN,...,NaN,NaN,• Recipient of “CNR RAO Merit Scholarship” .,• Qualified Codechef Smackdown 2017 and 2019 Q...,NaN,• Codechef (@abhishek_2017) Rating: 1658 (3 st...,NaN,NaN,NaN,NaN
18,01FB16ECS019,ABIJNA RAO,9.82,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",3.0,Amazon,NaN,Internship only,0.00,NaN,...,"MS Access, SQL\n#### Assembly level language:...",NaN,NaN,• Showcased Smart Medicine Kit in a national-l...,NaN,NaN,NaN,NaN,Carnatic music vocalist\n• Keyboard player\n• ...,"Spark, Docker, Hadoop, Zookeeper, OpenCV, NLTK..."
19,01FB16ECS019,ABIJNA RAO,9.82,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",3.0,Cisco Systems,1,Full time employment only,29.00,NaN,...,"MS Access, SQL\n#### Assembly level language:...",NaN,NaN,• Showcased Smart Medicine Kit in a national-l...,NaN,NaN,NaN,NaN,Carnatic music vocalist\n• Keyboard player\n• ...,"Spark, Docker, Hadoop, Zookeeper, OpenCV, NLTK..."
20,01FB16ECS019,Abijna Rao,9.82,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",3.0,CISCO,1,Summer Internship,NaN,44.0,...,"MS Access, SQL\n#### Assembly level language:...",NaN,NaN,• Showcased Smart Medicine Kit in a national-l...,NaN,NaN,NaN,NaN,Carnatic music vocalist\n• Keyboard player\n• ...,"Spark, Docker, Hadoop, Zookeeper, OpenCV, NLTK..."
21,01FB16ECS021,ACHYUTHA B,8.24,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Hashedin Technologies,1,Full time employment + Internship (Mandatory),8.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"C, Python",NaN,NaN
22,01FB16ECS022,ADAPA SHIVANI,8.73,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",2.0,Accenture,2,Full time employment only,6.50,NaN,...,"Tools & Frameworks: #### Android Studio, ####Q...",NaN,NaN,First place in Microsoft hackathon #CODE 2k18....,NaN,NaN,NaN,English(Professional working proficiency) Hind...,NaN,NaN
23,01FB16ECS022,ADAPA SHIVANI,8.73,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",2.0,Aruba Networks,1,Full time employment + Internship (Mandatory),11.00,NaN,...,"Tools & Frameworks: #### Android Studio, ####Q...",NaN,NaN,First place in Microsoft hackathon #CODE 2k18....,NaN,NaN,NaN,English(Professional working proficiency) Hind...,NaN,NaN
24,01FB16ECS023,ADARSH MISHRA,8.57,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Intuit India Product Development Center,NaN,Internship only,0.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kannada, ####English, ####Hindi",NaN,NaN
25,01FB16ECS024,NaN,6.74,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,MySQL #### W3.CSS #### numpy #### pandas #### ...,NaN,NaN,Awarded the scholarship of Rs 2000 by HDFC fo...,NaN,NaN,NaN,NaN,NaN,• Was an Event Handler for Sports Day conducte...
26,01FB16ECS025,ADITYA ANIRUDH KULKARNI,8.98,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Goldman Sachs,1,Full time employment only,22.00,NaN,...,MySQL#### MsSQL#### MongoDB#### Android Studi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,• Head of the Collegiate Social Responsibility...,NaN
27,01FB16ECS026,NaN,7.84,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WORK EXPERIENCE 2019 Intern at XCEEDANCE - Gur...
28,01FB16ECS028,ADITYA K R,9.01,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Cisco Systems,NaN,Internship only,0.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN, Trained Theatrical Artist\no Runners up at I...,NaN
29,01FB16ECS029,ADITYA PANDEY,9.81,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",2.0,Walmart Labs,1,Full time employment only,19.27,NaN,...,NaN,NaN,Awarded the National Talent Search Examinatio...,·\n· Received the Distinction Award (First Cla...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,01FB16ECS482,KRISHNA KHURANA,9.11,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Wipro Turbo,2,Full time employment only,6.50,NaN,...,NaN,NaN,NaN,Won 3rd Prize in GG Jam Game Development\nHack...,Conducted a Multi-Player SCIENCE Quiz on Praka...,NaN,Volunteered for Science Quiz in EPSILON and Th...,NaN,NaN,NaN
281,01FB16ECS483,RACHANA AITHAL K R,9.57,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",3.0,Walmart Labs,1,Full time employment only,19.27,NaN,...,NaN,NaN,Recepient of C.N.R. Rao Merit Scholarship for ...,"Runner-up at ’Tricks of Trade’, a game theory ...",NaN,NaN,NaN,NaN,NaN,NaN
282,01FB16ECS483,Rachana Aithal K R,9.57,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",3.0,Walmart Labs,1,Summer Internship,NaN,50.0,...,NaN,NaN,Recepient of C.N.R. Rao Merit Scholarship for ...,"Runner-up at ’Tricks of Trade’, a game theory ...",NaN,NaN,NaN,NaN,NaN,NaN
283,01FB16ECS483,RACHANA AITHAL K R,9.57,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",3.0,Amazon,NaN,Internship only,0.00,NaN,...,NaN,NaN,Recepient of C.N.R. Rao Merit Scholarship for ...,"Runner-up at ’Tricks of Trade’, a game theory ...",NaN,NaN,NaN,NaN,NaN,NaN
284,01FB16ECS484,VIKRAM G,9.15,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Palo Alto Networks,1,Full time employment + Internship (Mandatory),26.40,NaN,...,"MySql, Mongo, Rails, Postman, MathLab",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,01FB16ECS485,AKSHARA GUPTA,9.54,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",2.0,Lam Research,1,Full time employment + Internship (Mandatory),14.41,NaN,...,NaN,NaN,Received Professor MRD Merit Scholarship Award...,Best All Rounder Girl Student Award in SKCH-EC...,NaN,NaN,Peer Teaching classes for the subject Web Tech...,NaN,NaN,NaN
286,01FB16ECS485,AKSHARA GUPTA,9.54,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",2.0,Schneider Electric,2,Full time employment only,6.50,NaN,...,NaN,NaN,Received Professor MRD Merit Scholarship Award...,Best All Rounder Girl Student Award in SKCH-EC...,NaN,NaN,Peer Teaching classes for the subject Web Tech...,NaN,NaN,NaN
287,01FB16ECS487,ALKA SIMON,8.92,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,McAfee,NaN,Internship only,0.00,NaN,...,NaN,NaN,1.Was among the top 10% students in class X bo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,01FB16ECS488,MANMATH SAHOO,9.05,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Aruba Networks,1,Full time employment + Internship (Mandatory),11.00,NaN,...,MySQL#### Postgres,NaN,NaN,Changed the branch from Ece to Cse based on Gp...,NaN,NaN,NaN,NaN,• Took part in various coding competitions lik...,NaN
289,01FB16ECS489,NISHANT SHEKHAR,8.47,"{'Core Courses': [{""{'Code': 'UE16CS101', 'Nam...",1.0,Cisco Systems,1,Full time employment + Internship (Mandatory),29.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,01FB16ECS700,NaN,7.05,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"English ,Kannada, Hindi, Konkani",NaN,Machine Learning\n\nSoftware Testing\n\nNetw...
291,01FB16ECS701,NaN,6.52,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DRAWING AND STUDYING
292,01FB16ECS703,NaN,7.22,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Participated in many dance and quiz competitio...,NaN,NaN,NaN,NaN,NaN,NaN
293,01FB16ECS704,NaN,7.09,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Readingbooks,ListeningSong"
294,01FB16ECS705,NaN,7.71,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AREAS OF INTEREST\n Internet Of Things\n Mac...
295,01FB16ECS706,NaN,8.03,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,MySQL#### Mongo DB#### Linux#### Microsoft Wi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AREAS OF INTEREST\n Data Structures\n Web Te...
296,01FB16ECS709,NaN,6.80,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,Spyder#### MS-Office tools#### Cisco packet tr...,NaN,NaN,Won 1\nnd place in quiz conducted by the Red c...,NaN,NaN,NaN,ENGLISH#### KANNADA#### TELUGU,NaN,"SPENDING TIME ON TECH BLOGS. NEWS, SURFING INT..."
297,01FB16ECS711,NaN,6.17,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Operating Systems Known:\nØ Windows\nØ Linux\n...
298,01FB16ECS713,NaN,6.14,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,01FB16ECS714,NaN,7.08,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,English #### Kannada,NaN,NaN
300,01FB16ECS715,NaN,6.90,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,01FB16ECS716,NaN,6.42,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Playing Cricket Internet surffing Video games\...
302,01FB16ECS717,NaN,6.80,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"1.\tSuccessfully completed ‘B’ , ‘C’ certific...",NaN,NaN,NaN,NaN,•\tParticipated in many school level dance and...,NaN
303,01FB16ECS718,NaN,6.86,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,01FB16ECS719,RAKESH MOHITE M,7.38,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",1.0,Accenture,3,NaN,4.00,NaN,...,MYSQL####POSTRESQL#### MONGODB(intermediate),NaN,NaN,NaN,NaN,NaN,NaN,Kannada#### English,NaN,Areas of Interest: Data Structures and Algori...
305,01FB16ECS720,NaN,7.24,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,English####Kannada####Telugu####Hindi,NaN,NaN
306,01FB16ECS723,NaN,7.54,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN, Secured3rdrankinTalukLevelInternationalChint...,NaN,NaN,NaN,English####Kannada####Telugu,NaN,NaN
307,01FB16ECS724,NaN,6.96,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,"Eclipse , Code Block, Arduino IDE, Microsoft o...",NaN,NaN,"Won prizes in Badminton, singing competition.\...",NaN,NaN,NaN,"English, Kannada",NaN,NaN
308,01FB16ECS725,NaN,7.36,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Special recognition award at Startup Weekend##...,NaN,NaN,NaN,NaN,NaN,NaN
309,01FB16ECS726,NaN,7.22,"{'Core Courses': [{""{'Code': 'UE15CS201', 'Nam...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Coursework\nDBMS ,Advanced DBMS(NO SQL)\nCompu..."

In [22]:
#change this to current master everytime we update
df_oldMaster = pd.read_csv (r'MasterDataset_2016_2017_temp.csv')

In [40]:
df_oldMaster.shape
df_oldMaster.columns

Index(['10thPercentage', '12thPercentage', 'Awards', 'Branch', 'CGPA', 'CTC',
       'CoCurricularActivities', 'CompanyName', 'Courses', 'EmploymentType',
       'EventsParticipated', 'ExternalCertificates', 'GeneralSkills',
       'GitHubLink', 'InternshipDetail', 'Languages', 'LinkedInLink',
       'MinorAttended', 'Name', 'NoofInternships', 'NoofProjects',
       'OtherDetails', 'ProgLanguages', 'ProjectDetail', 'PublicationDetails',
       'Scholarships', 'SoftwareTools', 'TierLevel', 'USN', 'VolunteeringWork',
       'Workshops'],
      dtype='object')

In [57]:
combined_master2016_1.drop(['Number of Offers','Stipend(K)'],axis='columns', inplace=True)

In [33]:
df_oldMaster.drop(['Placed'],axis='columns', inplace=True)

In [41]:
df_oldMaster.shape

(193, 31)

In [58]:
combined_master2016_1.shape

(310, 31)

In [60]:
updatedMaster = pd.concat([df_oldMaster,combined_master2016_1],ignore_index=True)

C:\Users\rames\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [61]:
duplicate = updatedMaster[updatedMaster.duplicated()]

In [62]:
duplicate   #no duplicates!

Empty DataFrame
Columns: [10thPercentage, 12thPercentage, Awards, Branch, CGPA, CTC, CoCurricularActivities, CompanyName, Courses, EmploymentType, EventsParticipated, ExternalCertificates, GeneralSkills, GitHubLink, InternshipDetail, Languages, LinkedInLink, MinorAttended, Name, NoofInternships, NoofProjects, OtherDetails, ProgLanguages, ProjectDetail, PublicationDetails, Scholarships, SoftwareTools, TierLevel, USN, VolunteeringWork, Workshops]
Index: []

[0 rows x 31 columns]

In [69]:
#remove all the entries that dont have comoany details
updatedMasterWithCompany = updatedMaster[~updatedMaster["CompanyName"].isnull()]

In [70]:
updatedMasterWithCompany.to_csv('UpdatedMaster19Feb.csv')